{% extends "base.html" %}
{% block content %}
    <h1>CS50 Shopping Project: Pick a Data Set to Train the Model</h1>

    <form action="{{ url_for('train')}}" method="post" enctype="multipart/form-data">
        <p>
            <label>
                <input type="radio" name="data_source" value="default">
                Use default CSV file
            </label>
        </p>

        <p>
            <label>
                <input type="radio" name="data_source" value="upload">
                Upload CSV file
            </label>
            <input type="file" name="file" id="file" accept=".csv" disabled />
        </p>

        <button type="submit">Train</button>
    </form>

    <hr /> <!-- Thematic break !-->

    {% if metrics %}
        <h2>Last Results</h2>
        <p><b>Source:</b> {{ csv_source }}</p>
        <ul>
            <li>Sensitivity: {{metrics.sensitivity}}%</li>
            <li>Specificity: {{metrics.specificity}}%</li>
        </ul>
        <a href="{{ url_for('results') }}">View Full details</a>
    {% endif %}

    <script>
        const radios = document.querySelectorAll('input[name="data_source"]');
        const fileInput = document.getElementById('file');
        radios.forEach(r => {
            r.addEventListener('change', () => {
                fileInput.disabled = (r.value !== 'upload' && r.checked);
            });
        });
    </script>
{% endblock %}